  // UpdatePostPage.scss
.updatePostPage {
    height: 100%;
    display: flex;
  
    .formContainer {
      flex: 3;
      overflow: scroll;
  
      .wrapper {
        margin: 30px 50px 100px 0px;
  
        form {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 20px;
  
          .item {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 5px;
  
            label {
            }
  
            input {
              padding: 20px;
              border-radius: 5px;
              border: 1px solid gray;
            }
  
            select {
              padding: 19px;
            }
  
            &.description {
              width: 100%;
              height: 320px;
  
              .quill > .ql-container > .ql-editor{
                height: 200px;
                font-size: 16px;
              }
            }
          }
          .sendButton {
            width: 30%;
            border-radius: 5px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  
    .sideContainer {
      flex: 2;
      background-color: #fcf5f3;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
  
      img {
        width: 50%;
        height: 180px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
    .imagePreview {
      position: relative;
      display: inline-block;
      margin: 10px;
    
      img {
        width: 120px;
        height: auto;
        border-radius: 8px;
      }
    
      .removeImageButton {
        position: absolute;
        top: 2px;
        right: 2px;
        background-color: rgba(255, 0, 0, 0.7);
        border: none;
        color: white;
        padding: 4px 6px;
        cursor: pointer;
        font-size: 12px;
        border-radius: 4px;
      }
    }
  }
  